doctype html5
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:og='http://ogp.me/ns#', dir='ltr', lang='en-US')
html
    head
        script(type='text/javascript',src='/javascripts/ui/jquery-1.9.1.min.js')

        //link(rel='stylesheet', type='text/css', href='./lib/js/jquery.autocomplete.css')
        //link(rel='stylesheet', href='/stylesheets/jquery.qtip.min.css')
    body
        strong 404 error