<!DOCTYPE html5>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" dir="ltr" lang="en-US">

<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/roboto.min.css" />
    <link rel="stylesheet" href="/css/material-fullpalette.min.css" />
    <link rel="stylesheet" href="/css/ripples.min.css" />
    <link rel="stylesheet" href="/css/jquery.dropdown.css" />
    <link rel="stylesheet" href="/css/uploadfile.css" />
    <link rel="stylesheet" href="/css/summernote.css" />
    <link rel="stylesheet" href="/css/summernote-bs3.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/js/material.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/summernote.js"></script>
    <script type="text/javascript" src="/js/bootstrap.file-input.js"></script>
    <script type="text/javascript" src="/js/socket.io-client/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/quiz.js"></script>
</head>

<body>
    <div class="row">
        <div class="col-xs-3"></div>
        <div style="top: 20px;" class="well pages col-xs-6">
            <h2 class="quizname_title">Quiz Creator</h2>
            <div id="quizname_zone">
                <div class="row">
                    <div class="col-lg-3">
                        <h4>Thể loại</h4>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" maxlength="60" class="form-control categoryname" />
                    </div>
                    <div class="col-lg-3">
                        <button type="button" onclick="summitCategory()" class="btn btn-primary">Tạo thể loại</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <h4>Chi tiết</h4>
                    </div>
                    <div class="col-lg-9">
                        <div id="summernote"></div>
                    </div>
                </div>
                <div class="row categories">
                    <div class="col-lg-12 existed_exam_header">
                        <h3>Các thể loại đã có</h3></div>
                </div>
                <div id="categories" class="categories"></div>
            </div>
        </div>
    </div> 
</body>

</html>
